{% extends 'tour/base.html' %}
{% block title %}Login to {% endblock title %}
{% block content %}
{% if form.errors %}
    <p class="form-error">Prisijungimo klaida. Bandykit dar kartą.</p>
{% endif %}
{#Jei vartotojas bus prisiregistravęs ir negalės patekti į puslapį, ji vėl permes į Login-ą#}
{% if next %}
    {% if user.is_authenticated %}
        <p class="form-error">Neturite prieeigos prie šios informacijos. Turite prisijungti.</p>
    {% endif %}
{% endif %}

{#Vartotojo parametrus perduosime ne atviru tekstu, o per post-ą#}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
    <tr>
        <td>Varotojas: </td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>Slaptažodis: </td>
        <td>{{ form.password }}</td>
    </tr>
    <tr>
    <td></td>
    <td>
        <input type="submit" value="Prisijungti">
        <input type="hidden" name="next" value="{{ next }}">
    </td>
</table>
</form>
<p><a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a></p>
{% endblock content %}