{% extends 'tour/base.html' %}
{% block title %}Slaptažodžio atnaujinimo forma{% endblock title %}
{% block content %}
<h1>Slaptažodžio atnaujinimas</h1>
{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table}}
        <p><button type="submit">Slaptažodžio atnaujinimas</p>
    </form>
{% else %}
    <p class="form-error">Klaida:neteisinga nuoroda. Pra6ome pakartoti <a href="{% url 'password reset' %}">slaptažodžio atnaujinimas</a> pakartotinai.</p>
{% endif %}
{% endblock content %}