<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'tour/css/base.css' %}">
</head>
<body>
    <header>
        <div class="container">
            {% block nav %}
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'cities' %}">Cities</a>
                {% comment %} <a href="{% url 'sights' %}">Sights</a> {% endcomment %}
                <a href="{% url 'routes' %}">Routes</a>
                <a href="{% url 'admin:index' %}">Admin</a>
            {% endblock nav %}
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% comment %} <ul>
                {% for m in menu %}
                    <li>{{ m }}</li>
                {% endfor %}
            </ul> {% endcomment %}
            {% endblock content %}
        </div>
    </main>
    <footer>
        <div class="container">
            {% block footer %}
            <p> (C)2022 Litua Travel </p>
            {% endblock footer %}
        </div>
    </footer>
</body>
</html>
