{% extends 'tour/base.html' %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="object.facts">
        {{ object.facts }}
    </div>
    {% if sight.reviews %}
    {% for review in sight.reviews.all %}
        <div class='book-review'>
            <h4>{{ review.reader }}<span class="float-right">{{review.created_at}}</span></h4>
            <p>{{ review.content }}</p>
        </div>
            {% endfor %}
    {% endif %}
{% endblock content %}