{% extends 'tour/base.html' %}
{% load static i18n %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="sight-detail">
        {% if sight.photo %}  
            <img src="{{ sight.photo.url }}">
        {% else %}
            <img src="{% static 'tour/img/LituaTravel-j_b.png' %}">
        {% endif %}       
    </div>
    <div class="object-facts">
        <p>{{ object.facts }}</p>
        <p>{{ sight.get_google_link }}</p>
    </div>
    {% if sight.reviews %}
    {% for review in sight.reviews.all %}
    <p></p>
        <div >
            <h3>{% trans "Comments" %}</h3>
            <div class='sight-review'>
            <h4>{% trans "Reader: " %}{{ review.reviewer }}<span class="float-right">{% trans "Created" %}: {{review.created_at}}</span></h4>
            <p>{{ review.content }}</p>
            </div>
        </div>
            {% endfor %}
    {% endif %}
    <p></p>
{% endblock content %}